In [2]:
# import packages
import numpy as np
import pandas as pd

In [3]:
# import data set
apdata = pandas.read_csv('airports.csv')
ftdata = pandas.read_csv('flights.csv')

/Users/junyuyao/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [194]:
apdata.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [195]:
ftdata.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
apdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

In [25]:
ftdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

## Q1 Find a list of Origin Airports

In [202]:
df1 = ftdata['ORIGIN_AIRPORT'].unique()
l1 = list(df1)
l1

['ANC',
 'LAX',
 'SFO',
 'SEA',
 'LAS',
 'DEN',
 'SLC',
 'PDX',
 'FAI',
 'MSP',
 'PHX',
 'SJU',
 'PBG',
 'IAG',
 'PSE',
 'BQN',
 'ORD',
 'GEG',
 'HNL',
 'ONT',
 'MCO',
 'BOS',
 'HIB',
 'ABR',
 'MAF',
 'DFW',
 'MKE',
 'IAH',
 'BNA',
 'BRO',
 'VPS',
 'BOI',
 'BJI',
 'SGF',
 'PHL',
 'SBN',
 'RDD',
 'EUG',
 'IAD',
 'BUF',
 'PWM',
 'JFK',
 'CRP',
 'PIA',
 'FAT',
 'SMF',
 'AUS',
 'MCI',
 'ATL',
 'JAX',
 'MFR',
 'IDA',
 'MSN',
 'DCA',
 'SAT',
 'CHS',
 'SBA',
 'SMX',
 'IND',
 'CLE',
 'GSP',
 'BDL',
 'ABI',
 'RIC',
 'BFL',
 'OMA',
 'RDM',
 'FLL',
 'CID',
 'TPA',
 'SYR',
 'ROC',
 'TYR',
 'LAN',
 'XNA',
 'GSO',
 'EWR',
 'PBI',
 'RSW',
 'OAK',
 'PVD',
 'RNO',
 'PIT',
 'ABQ',
 'MIA',
 'BWI',
 'LGA',
 'TUL',
 'LIT',
 'MSY',
 'OKC',
 'ATW',
 'PNS',
 'MEM',
 'TYS',
 'MHT',
 'SAV',
 'CLT',
 'GRB',
 'ABE',
 'JAN',
 'OAJ',
 'FAR',
 'ERI',
 'LEX',
 'CWA',
 'MSO',
 'TTN',
 'AMA',
 'CLL',
 'HOU',
 'JLN',
 'MLI',
 'RDU',
 'CVG',
 'MHK',
 'MOB',
 'TLH',
 'BHM',
 'CAE',
 'TXK',
 'ACY',
 'DTW',
 'RAP',
 'TUS',
 'EAU',
 'DLH',
 'FSD',
 'INL',
 'CMX',
 'SPI',
 'CLD',
 'COD',
 'CMH',
 'LRD',
 'PSC',
 'CPR',
 'ACV',
 'DAL',
 'PAH',
 'MRY',
 'ESC',
 'ISN',
 'PSP',
 'MFE',
 'STL',
 'BTV',
 'FSM',
 'AEX',
 'SPS',
 'ACT',
 'SJT',
 'MTJ',
 'GCC',
 'OGG',
 'SJC',
 'GUC',
 'ORF',
 'MOT',
 'MLU',
 'KOA',
 'SAN',
 'LAW',
 'PIB',
 'MGM',
 'SBP',
 'COS',
 'LAR',
 'DRO',
 'BIS',
 'ITO',
 'BTR',
 'GRI',
 'HLN',
 'BZN',
 'MDW',
 'MDT',
 'SCE',
 'LIH',
 'TWF',
 'BPT',
 'GPT',
 'STC',
 'HPN',
 'MLB',
 'PLN',
 'CIU',
 'CAK',
 'DSM',
 'BLI',
 'SHV',
 'ROW',
 'FWA',
 'SNA',
 'ALB',
 'HOB',
 'LNK',
 'CMI',
 'COU',
 'GTF',
 'EKO',
 'LGB',
 'AVL',
 'HSV',
 'SAF',
 'GRR',
 'SUX',
 'LFT',
 'HYS',
 'ELP',
 'DVL',
 'ISP',
 'BUR',
 'DAB',
 'DAY',
 'GRK',
 'GJT',
 'BMI',
 'LBE',
 'ASE',
 'RKS',
 'GUM',
 'TVC',
 'ALO',
 'IMT',
 'LCH',
 'JNU',
 'JAC',
 'MEI',
 'DBQ',
 'GCK',
 'GNV',
 'BRD',
 'DIK',
 'SDF',
 'LBB',
 'AVP',
 'BTM',
 'ELM',
 'PIH',
 'ICT',
 'SUN',
 'LWS',
 'VEL',
 'STT',
 'YUM',
 'FLG',
 'FCA',
 'HDN',
 'JMS',
 'ROA',
 'CHA',
 'EYW',
 'MYR',
 'CRW',
 'MQT',
 'CHO',
 'ECP',
 'EVV',
 'EGE',
 'MBS',
 'GFK',
 'TOL',
 'BIL',
 'OTZ',
 'KTN',
 'STX',
 'ILM',
 'PUB',
 'RHI',
 'CDC',
 'HRL',
 'SCC',
 'FNT',
 'LSE',
 'MMH',
 'APN',
 'AGS',
 'CEC',
 'DHN',
 'WRG',
 'PHF',
 'CNY',
 'BRW',
 'GGG',
 'AZO',
 'SRQ',
 'ORH',
 'TRI',
 'VLD',
 'SIT',
 'BQK',
 'PSG',
 'FAY',
 'MKG',
 'CSG',
 'EWN',
 'OME',
 'SGU',
 'RST',
 'GTR',
 'BET',
 'ABY',
 'SWF',
 'ILG',
 'ADK',
 'UST',
 'YAK',
 'CDV',
 'OTH',
 'ADQ',
 'PPG',
 'BGM',
 'BGR',
 'ITH',
 'ACK',
 'MVY',
 'WYS',
 'DLG',
 'AKN',
 'GST',
 'HYA',
 '14747',
 '14771',
 '12889',
 '12892',
 '14869',
 '10299',
 '11292',
 '14107',
 '11630',
 '10732',
 '14254',
 '10141',
 '10627',
 '11982',
 '12173',
 '13930',
 '14683',
 '12266',
 '11618',
 '10721',
 '13487',
 '11884',
 '15919',
 '13851',
 '11111',
 '10693',
 '12191',
 '14783',
 '15016',
 '14487',
 '10423',
 '15370',
 '11953',
 '13891',
 '15376',
 '11778',
 '11278',
 '14100',
 '13204',
 '15304',
 '11637',
 '14842',
 '10155',
 '11775',
 '11298',
 '11057',
 '13931',
 '10821',
 '14122',
 '11049',
 '10990',
 '10631',
 '13158',
 '14108',
 '13198',
 '11447',
 '12206',
 '13495',
 '14057',
 '15624',
 '10747',
 '15411',
 '12891',
 '10994',
 '13256',
 '10792',
 '14492',
 '12451',
 '13127',
 '10781',
 '14960',
 '12278',
 '14685',
 '11995',
 '13485',
 '11977',
 '10257',
 '13796',
 '13232',
 '13296',
 '14570',
 '14893',
 '14524',
 '12217',
 '10713',
 '10208',
 '10136',
 '11603',
 '14689',
 '11471',
 '11315',
 '13264',
 '12478',
 '14814',
 '11308',
 '11066',
 '12896',
 '10397',
 '14307',
 '11721',
 '11140',
 '10185',
 '13277',
 '11203',
 '13342',
 '11433',
 '11697',
 '12953',
 '10599',
 '12156',
 '14952',
 '10620',
 '11042',
 '15096',
 '10408',
 '15249',
 '11423',
 '12915',
 '12264',
 '12339',
 '10140',
 '13871',
 '14027',
 '13244',
 '11267',
 '11540',
 '14576',
 '10868',
 '13486',
 '13476',
 '14489',
 '12945',
 '15607',
 '10529',
 '11986',
 '14635',
 '13303',
 '10785',
 '15380',
 '11996',
 '10561',
 '10874',
 '13367',
 '10146',
 '10431',
 '11973',
 '10980',
 '12197',
 '14098',
 '12323',
 '10577',
 '11150',
 '10135',
 '11617',
 '13795',
 '13029',
 '11003',
 '11146',
 '11577',
 '15356',
 '11259',
 '10279',
 '14321',
 '14843',
 '11638',
 '14828',
 '11481',
 '12951',
 '10434',
 '12448',
 '14730',
 '15323',
 '14252',
 '11193',
 '10849',
 '14193',
 '14986',
 '11641',
 '12992',
 '13422',
 '11612',
 '11823',
 '11980',
 '13290',
 '10158',
 '10685',
 '13377',
 '11109',
 '11076',
 '11122',
 '11865',
 '14543',
 '14905',
 '11587',
 '14457',
 '12335',
 '12343',
 '12003',
 '10157',
 '12884',
 '14633',
 '15048',
 '10268',
 '15295',
 '12389',
 '11525',
 '14262',
 '12888',
 '12391',
 '11648',
 '14696',
 '12758',
 '13830',
 '10469',
 '15412',
 '10731',
 '14679',
 '14831',
 '11413',
 '13433',
 '12982',
 '11867',
 '14698',
 '11537',
 '15389',
 '12402',
 '11337',
 '13360',
 '13076',
 '14006',
 '10728',
 '15401',
 '13230',
 '12016',
 '11067',
 '11274',
 '11921',
 '12519',
 '11013',
 '10779',
 '14150',
 '14794',
 '12511',
 '12177',
 '12523',
 '14908',
 '12007',
 '14588',
 '13577',
 '13061',
 '15041',
 '14109',
 '10800',
 '12954',
 '12441',
 '12898',
 '11695',
 '16218',
 '14113',
 '11624',
 '11503',
 '10739',
 '14574',
 '14711',
 '12129',
 '15070',
 '14520',
 '13184',
 '11252',
 '12280',
 '13241',
 '11898',
 '15024',
 '14674',
 '10551',
 '12819',
 '13459',
 '10581',
 '13970',
 '10372',
 '10918',
 '14709',
 '12255',
 11267,
 12266,
 10821,
 14771,
 11433,
 11982,
 11905,
 15411,
 14679,
 14108,
 10397,
 13871,
 11618,
 14574,
 10423,
 11259,
 10800,
 11140,
 12191,
 12889,
 13198,
 10529,
 10693,
 13232,
 11540,
 14570,
 14635,
 14831,
 11298,
 13204,
 11278,
 14100,
 12892,
 12478,
 13930,
 15304,
 14107,
 12523,
 12954,
 11697,
 14057,
 12339,
 13487,
 14893,
 11986,
 11292,
 14576,
 15370,
 12402,
 14908,
 12953,
 12758,
 15016,
 10721,
 12264,
 10685,
 11612,
 13277,
 11057,
 12891,
 12197,
 11193,
 13495,
 13891,
 13244,
 14843,
 14747,
 11996,
 10333,
 14262,
 11695,
 13342,
 14698,
 10431,
 15376,
 12451,
 14524,
 13830,
 13796,
 14122,
 14960,
 16218,
 10713,
 11066,
 10208,
 14683,
 14869,
 14492,
 11638,
 11413,
 10792,
 10408,
 14689,
 10980,
 14952,
 12951,
 15323,
 11884,
 14307,
 14730,
 14783,
 11603,
 11977,
 11921,
 13577,
 13061,
 13851,
 11042,
 12448,
 12992,
 10874,
 12896,
 11308,
 12173,
 12206,
 13377,
 10747,
 13256,
 13303,
 10185,
 10599,
 10140,
 15295,
 11898,
 13795,
 10728,
 10994,
 12391,
 10299,
 12217,
 13290,
 12007,
 11109,
 15096,
 10627,
 13433,
 15249,
 12278,
 12915,
 11637,
 13931,
 13485,
 11721,
 11775,
 13476,
 15841,
 14027,
 15380,
 12945,
 11315,
 15919,
 13360,
 10868,
 14986,
 12982,
 10279,
 11150,
 13264,
 14193,
 11823,
 13367,
 10469,
 11423,
 11337,
 11252,
 13029,
 14696,
 11049,
 13296,
 14685,
 13158,
 12323,
 10257,
 14588,
 11274,
 13344,
 13933,
 15412,
 13422,
 11146,
 15991,
 13230,
 14794,
 11003,
 14828,
 10781,
 10990,
 10785,
 10434,
 14457,
 11481,
 11537,
 10136,
 14814,
 10754,
 10135,
 10731,
 13127,
 14321,
 10849,
 14098,
 10146,
 15607,
 11624,
 12177,
 10158,
 12884,
 15624,
 14256,
 11973,
 14842,
 15356,
 10561,
 14113,
 15389,
 14489,
 12094,
 12888,
 13076,
 12129,
 13873,
 10157,
 11995,
 10631,
 12441,
 12343,
 14252,
 11097,
 10732,
 10154,
 11122,
 11641,
 13486,
 12003,
 10620,
 10779,
 12335,
 11076,
 15041,
 12156,
 12280,
 10926,
 12819,
 11865,
 12519,
 11778,
 10551,
 12389,
 11953,
 12898,
 15024,
 10155,
 11013,
 10372,
 11587,
 13964,
 11980,
 11630,
 11648,
 14905,
 11525,
 15070,
 11471,
 11111,
 14633,
 11447,
 11203,
 13241,
 12511,
 11067,
 10268,
 13184,
 10141,
 13541,
 14150,
 15027,
 14109,
 15048,
 14006,
 10739,
 14520,
 11617,
 14487,
 11867,
 14674,
 14543,
 10577,
 10170,
 11577,
 14709,
 14711,
 12255,
 10165,
 10918,
 15401,
 13970,
 15497,
 12265,
 14254,
 10581,
 12016,
 11503,
 13459,
 14222,
 14025,
 13502,
 '15841',
 '13344',
 '15991',
 '10754',
 '14256',
 '13873',
 '11097',
 '10926',
 '13964',
 '11905',
 '15027',
 '13933',
 '10170',
 '10333',
 '14222',
 '14025',
 '13502',
 '15497',
 '12265']

## Q2 Find a list of (Origin, Destination) pairs

In [208]:
df2 = ftdata[['ORIGIN_AIRPORT','DESTINATION_AIRPORT']]
df2_1 = df2.drop_duplicates()
df2_1

        ORIGIN_AIRPORT DESTINATION_AIRPORT
0                  ANC                 SEA
1                  LAX                 PBI
2                  SFO                 CLT
3                  LAX                 MIA
4                  SEA                 ANC
...                ...                 ...
5796607            GSP                 MIA
5799339            MIA                 OKC
5801064            LRD                 HRL
5802350            OKC                 MIA
5814476            CID                 LAX

[12377 rows x 2 columns]

## Q3 Find the Origin airport which had the largest departure delay in the month of January

In [159]:
flights_in_jan=ftdata[ftdata['MONTH']==1]

max_delay_flight=flights_in_jan[flights_in_jan['DEPARTURE_DELAY'] >= flights_in_jan['DEPARTURE_DELAY'].max()]

print(max_delay_flight['ORIGIN_AIRPORT'])

337720    BHM
Name: ORIGIN_AIRPORT, dtype: object

## Q4 Find out which carrier has the largest delay on Weekends.

In [160]:
df4 = ftdata[ftdata['DAY_OF_WEEK'].isin([6,7])]

df4_1 = df4.nlargest(1,['DEPARTURE_DELAY'])

df4_1[['DEPARTURE_DELAY', 'AIRLINE','FLIGHT_NUMBER']]

         DEPARTURE_DELAY AIRLINE  FLIGHT_NUMBER
3412085           1878.0      AA             96

## Q5 Which airport has the most cancellation of flights?

In [163]:
df5 = ftdata[ftdata['CANCELLED']==1]

destinations = df5['DESTINATION_AIRPORT'].value_counts()

origin = df5['ORIGIN_AIRPORT'].value_counts()


print('destination airport', destinations.nlargest(1))
print('origin airport', origin.nlargest(1))

destination airport ORD    9273
Name: DESTINATION_AIRPORT, dtype: int64
origin airport ORD    8548
Name: ORIGIN_AIRPORT, dtype: int64

## Q6 Find the percent of flights cancelled for each carrier.

In [132]:
df6 = ftdata.groupby('AIRLINE').mean()['CANCELLED']
print(df6)
df6.nlargest(1)

AIRLINE
AA    0.015040
AS    0.003878
B6    0.016012
DL    0.004366
EV    0.026629
F9    0.006473
HA    0.002242
MQ    0.050996
NK    0.017073
OO    0.016929
UA    0.012745
US    0.020466
VX    0.008626
WN    0.012714
Name: CANCELLED, dtype: float64

AIRLINE
MQ    0.050996
Name: CANCELLED, dtype: float64

## Q7 Find the largest departure delay for each carrier

In [136]:
df7 = ftdata.groupby('AIRLINE').max()['DEPARTURE_DELAY']
print(df7)
df7.nlargest(1)

AIRLINE
AA    1988.0
AS     963.0
B6    1006.0
DL    1289.0
EV    1274.0
F9    1112.0
HA    1433.0
MQ    1544.0
NK     836.0
OO    1378.0
UA    1314.0
US     759.0
VX     644.0
WN     665.0
Name: DEPARTURE_DELAY, dtype: float64

/var/folders/vv/lx8h54050gx2ndymzg8v1gm40000gn/T/ipykernel_11071/3527714363.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df7 = ftdata.groupby('AIRLINE').max()['DEPARTURE_DELAY']

AIRLINE
AA    1988.0
Name: DEPARTURE_DELAY, dtype: float64

## Q8 Find the largest departure delay for each carrier for each month

In [165]:
for i in range(1,12):
    df8 = ftdata[ftdata['MONTH'] == i]
    df8_1 = df8.groupby('AIRLINE').max()['DEPARTURE_DELAY']
    print('Month',i,df8_1)

/var/folders/vv/lx8h54050gx2ndymzg8v1gm40000gn/T/ipykernel_11071/2931140902.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df8_1 = df8.groupby('AIRLINE').max()['DEPARTURE_DELAY']

Month 1 AIRLINE
AA    1988.0
AS     538.0
B6     500.0
DL    1184.0
EV     726.0
F9     696.0
HA    1003.0
MQ     780.0
NK     557.0
OO     931.0
UA     886.0
US     638.0
VX     397.0
WN     604.0
Name: DEPARTURE_DELAY, dtype: float64
Month 2 AIRLINE
AA    1587.0
AS     735.0
B6     942.0
DL    1159.0
EV     600.0
F9     852.0
HA    1433.0
MQ    1154.0
NK     546.0
OO     913.0
UA     858.0
US     536.0
VX     577.0
WN     506.0
Name: DEPARTURE_DELAY, dtype: float64
Month 3 AIRLINE
AA    1609.0
AS     868.0
B6     674.0
DL    1166.0
EV     583.0
F9    1112.0
HA     952.0
MQ     830.0
NK     745.0
OO     874.0
UA     649.0
US     726.0
VX     365.0
WN     629.0
Name: DEPARTURE_DELAY, dtype: float64
Month 4 AIRLINE
AA    1542.0
AS     812.0
B6     500.0
DL    1179.0
EV     757.0
F9     602.0
HA     865.0
MQ     973.0
NK     836.0
OO     878.0
UA    1314.0
US     522.0
VX     533.0
WN     498.0
Name: DEPARTURE_DELAY, dtype: float64
Month 5 AIRLINE
AA    1492.0
AS     612.0
B6     544.0
DL    1289.0
EV     730.0
F9     767.0
HA     326.0
MQ     956.0
NK     650.0
OO     852.0
UA    1102.0
US     711.0
VX     335.0
WN     628.0
Name: DEPARTURE_DELAY, dtype: float64
Month 6 AIRLINE
AA    1522.0
AS     963.0
B6     507.0
DL    1201.0
EV    1210.0
F9     813.0
HA     961.0
MQ    1098.0
NK     696.0
OO     938.0
UA     994.0
US     759.0
VX     644.0
WN     665.0
Name: DEPARTURE_DELAY, dtype: float64
Month 7 AIRLINE
AA    1625.0
AS     830.0
B6     450.0
DL    1125.0
EV     818.0
F9     793.0
HA     787.0
MQ     911.0
NK     383.0
OO     956.0
UA     824.0
VX     410.0
WN     560.0
Name: DEPARTURE_DELAY, dtype: float64
Month 8 AIRLINE
AA    1878.0
AS     514.0
B6     522.0
DL    1207.0
EV     762.0
F9     726.0
HA    1037.0
MQ    1171.0
NK     679.0
OO     907.0
UA     739.0
VX     441.0
WN     620.0
Name: DEPARTURE_DELAY, dtype: float64
Month 9 AIRLINE
AA    1670.0
AS     764.0
B6     480.0
DL    1103.0
EV    1000.0
F9     698.0
HA    1304.0
MQ    1083.0
NK     693.0
OO     893.0
UA     777.0
VX     331.0
WN     540.0
Name: DEPARTURE_DELAY, dtype: float64
Month 10 AIRLINE
AA    1573.0
AS     580.0
B6     577.0
DL    1120.0
EV     975.0
F9     550.0
HA    1022.0
MQ    1544.0
NK     545.0
OO    1122.0
UA    1037.0
VX     430.0
WN     621.0
Name: DEPARTURE_DELAY, dtype: float64
Month 11 AIRLINE
AA    1631.0
AS     634.0
B6     510.0
DL    1071.0
EV     993.0
F9     918.0
HA     691.0
MQ     931.0
NK     476.0
OO    1132.0
UA    1142.0
VX     288.0
WN     505.0
Name: DEPARTURE_DELAY, dtype: float64

## Q9 For each carrier find the average Departure delay

In [146]:
df7 = ftdata.groupby('AIRLINE').mean()['DEPARTURE_DELAY']
df7

AIRLINE
AA     8.900856
AS     1.785801
B6    11.514353
DL     7.369254
EV     8.715934
F9    13.350858
HA     0.485713
MQ    10.125188
NK    15.944766
OO     7.801104
UA    14.435441
US     6.141137
VX     9.022595
WN    10.581986
Name: DEPARTURE_DELAY, dtype: float64

## Q10 For each carrier find the average Departure delay for each month

In [150]:
df10_2 = pd.DataFrame
for i in range(1,12):
    df10 = ftdata[ftdata['MONTH'] == i]
    df10_1 = df10.groupby('AIRLINE').mean()['DEPARTURE_DELAY']
    print('Month',i,df10_1)

Month 1 AIRLINE
AA    10.593542
AS     3.178209
B6    10.035556
DL     5.904238
EV     9.752522
F9    17.984433
HA     1.310065
MQ    16.081207
NK    13.146294
OO    12.155157
UA    14.010359
US     5.197315
VX     6.910772
WN     9.514470
Name: DEPARTURE_DELAY, dtype: float64
Month 2 AIRLINE
AA    10.258853
AS     2.703814
B6    19.665223
DL    12.226444
EV    11.230904
F9    25.710005
HA     2.580506
MQ    18.600579
NK    16.958248
OO    10.954536
UA    14.907992
US     9.123066
VX    12.600540
WN     9.860234
Name: DEPARTURE_DELAY, dtype: float64
Month 3 AIRLINE
AA    11.086628
AS     3.063562
B6    15.173697
DL     8.443340
EV     8.892073
F9    20.011169
HA     0.824024
MQ    12.310134
NK    12.613168
OO     5.847798
UA    13.960860
US     5.955991
VX    10.592154
WN    10.132266
Name: DEPARTURE_DELAY, dtype: float64
Month 4 AIRLINE
AA    10.555278
AS     0.004242
B6     8.327439
DL     6.233455
EV     6.796096
F9    11.723183
HA    -2.216376
MQ     8.895925
NK     9.929518
OO     5.347865
UA    12.981619
US     4.508355
VX     5.653336
WN     8.817762
Name: DEPARTURE_DELAY, dtype: float64
Month 5 AIRLINE
AA    11.111628
AS    -0.197118
B6     7.033574
DL     7.488959
EV    10.087309
F9    11.230237
HA    -1.349720
MQ     9.553478
NK    23.607441
OO     6.018216
UA    14.702455
US     4.068512
VX    10.710334
WN    11.931228
Name: DEPARTURE_DELAY, dtype: float64
Month 6 AIRLINE
AA    14.182828
AS     1.940487
B6    11.430772
DL    10.877582
EV    15.235164
F9    19.115840
HA    -1.217039
MQ    13.159374
NK    36.161787
OO    10.162168
UA    24.401683
US     8.314896
VX     8.697825
WN    16.051663
Name: DEPARTURE_DELAY, dtype: float64
Month 7 AIRLINE
AA     9.721149
AS     2.561732
B6    11.296233
DL     8.270346
EV     9.052347
F9    13.837097
HA     0.709905
MQ     9.069211
NK    16.411926
OO     8.851216
UA    19.404981
VX     9.751020
WN    15.616419
Name: DEPARTURE_DELAY, dtype: float64
Month 8 AIRLINE
AA     9.357355
AS     3.668762
B6    14.604436
DL     7.746436
EV     7.785358
F9     8.849347
HA     4.819096
MQ     8.275043
NK    22.256118
OO     7.747202
UA    14.306113
VX     8.900653
WN    11.738553
Name: DEPARTURE_DELAY, dtype: float64
Month 9 AIRLINE
AA    4.966657
AS    0.232842
B6    7.777772
DL    3.514294
EV    3.585172
F9    5.095135
HA    2.096527
MQ    4.605790
NK    9.673310
OO    3.865352
UA    7.451806
VX    3.292963
WN    5.380072
Name: DEPARTURE_DELAY, dtype: float64
Month 10 AIRLINE
AA    5.313371
AS   -0.088378
B6    8.036857
DL    3.215743
EV    4.631744
F9    4.031030
HA    0.168379
MQ    3.457587
NK    8.284940
OO    3.650551
UA    7.381777
VX    7.083257
WN    6.052322
Name: DEPARTURE_DELAY, dtype: float64
Month 11 AIRLINE
AA     6.446925
AS     1.707435
B6     7.108177
DL     4.537665
EV     7.140405
F9    11.658947
HA    -1.725914
MQ     7.203864
NK     8.645633
OO     6.818505
UA    11.242923
VX     5.780515
WN     7.865229
Name: DEPARTURE_DELAY, dtype: float64

## Q11 Which date of year has the highest rate of flight cancellations? Rate of flight cancellation is calculated by deviding number of canceled flights by total number of flights.

In [190]:
df11 = ftdata.groupby(['MONTH','DAY']).mean()['CANCELLED']
print(df11)
df11.nlargest(1)

MONTH  DAY
1      1      0.033405
       2      0.015352
       3      0.021446
       4      0.026480
       5      0.026287
                ...
12     27     0.070144
       28     0.133460
       29     0.042287
       30     0.017282
       31     0.003198
Name: CANCELLED, Length: 365, dtype: float64

MONTH  DAY
1      27     0.1903
Name: CANCELLED, dtype: float64

## Q12 Calculate the number of flights to each destination state For each carrier, for which state do they have the largest average delay?

In [214]:
df12 = ftdata['AIRLINE'].unique()
l12 = list(df12)
for i in l12:
    df12_1 = ftdata[ftdata['AIRLINE'] == i]
    df12_2 = df12_1.groupby('DESTINATION_AIRPORT').count()['FLIGHT_NUMBER']
    print(i,df12_2)

AS DESTINATION_AIRPORT
10140     29
10165      9
10170     29
10299    935
10397     58
        ...
STL      399
TPA      334
TUS      347
WRG      664
YAK      662
Name: FLIGHT_NUMBER, Length: 191, dtype: int64
AA DESTINATION_AIRPORT
10140     174
10257      80
10299      32
10397     916
10423     785
         ...
SYR       271
TPA      8203
TUL      2324
TUS      2789
XNA        18
Name: FLIGHT_NUMBER, Length: 274, dtype: int64
US DESTINATION_AIRPORT
ABQ      49
ALB     359
ANC     165
ATL    2940
AUS     469
       ...
STT     364
STX      22
SYR     321
TPA    3553
TUS       3
Name: FLIGHT_NUMBER, Length: 79, dtype: int64
DL DESTINATION_AIRPORT
10135      29
10140     144
10208      29
10257     137
10299     137
         ...
TUS       796
TVC       425
TYS       937
VPS      1765
XNA       539
Name: FLIGHT_NUMBER, Length: 439, dtype: int64
NK DESTINATION_AIRPORT
10158     232
10397     593
10721     232
10732      12
10821     308
         ...
RSW      2214
SAN      1845
SJU       552
STT       311
TPA      2624
Name: FLIGHT_NUMBER, Length: 98, dtype: int64
UA DESTINATION_AIRPORT
10140     104
10257      54
10299      54
10397     359
10423     476
         ...
STL       303
STT       459
TPA      5856
TUL       153
TUS        54
Name: FLIGHT_NUMBER, Length: 259, dtype: int64
HA DESTINATION_AIRPORT
12173     2536
12402      452
12478       25
12758      619
12889       71
12892      116
12982      564
13796       57
13830     1116
14057       29
14107       29
14222        8
14679       29
14747       58
14771       58
14831       58
14893       29
12173      167
12402       29
12478        2
12758       41
12889        4
12892        8
12982       38
13796        4
13830       74
14057        2
14107        2
14222        1
14679        2
14747        4
14771        4
14831        4
14893        2
HNL      30193
ITO       5462
JFK        293
KOA       7299
LAS        811
LAX       1557
LIH       7299
OAK        768
OGG      12901
PDX        334
PHX        334
PPG        107
SAN        334
SEA        668
SFO        668
SJC        668
SMF        334
Name: FLIGHT_NUMBER, dtype: int64
B6 DESTINATION_AIRPORT
10140      27
10154      28
10423     178
10529     267
10721    3283
         ...
STT       873
STX       334
SWF       669
SYR      1350
TPA      5510
Name: FLIGHT_NUMBER, Length: 184, dtype: int64
OO DESTINATION_AIRPORT
10140     227
10141      67
10157     114
10257       5
10279      34
         ...
VEL       205
VPS        68
WYS       208
XNA      1273
YUM      1878
Name: FLIGHT_NUMBER, Length: 545, dtype: int64
EV DESTINATION_AIRPORT
10135     198
10140       1
10146      82
10155     140
10185     215
         ...
TYR      1695
TYS      4943
VLD       935
VPS      2524
XNA      3005
Name: FLIGHT_NUMBER, Length: 493, dtype: int64
MQ DESTINATION_AIRPORT
10136     190
10140      54
10185      54
10268      54
10279      37
         ...
TXK       521
TYR       604
TYS       906
VPS       511
XNA      4449
Name: FLIGHT_NUMBER, Length: 348, dtype: int64
F9 DESTINATION_AIRPORT
10397     505
10423     133
10627      13
10693      52
10849      16
         ...
STL       874
TPA      1545
TTN      2836
TYS       103
UST       155
Name: FLIGHT_NUMBER, Length: 156, dtype: int64
WN DESTINATION_AIRPORT
10140      950
10257      316
10279      137
10397     3382
10423     1503
         ...
SNA      17200
STL      27752
TPA      25886
TUL       4100
TUS       4201
Name: FLIGHT_NUMBER, Length: 258, dtype: int64
VX DESTINATION_AIRPORT
10423      168
10721      133
11259      512
11278      108
11618      162
11697       83
12264      144
12478      316
12889      344
12892     1075
12953      105
13204       29
13930      137
14057       29
14262       17
14679      166
14747      183
14771     1436
10423        9
10721        9
11259       30
11278        7
11618        9
11697        6
12264        6
12478       19
12889       24
12892       68
12953        5
13204        2
13930        9
14057        2
14262        1
14679       11
14747       11
14771       89
AUS       1401
BOS       1591
DAL       5049
DCA       1234
EWR       1834
FLL       1242
HNL         60
IAD       1489
JFK       3671
LAS       3766
LAX      11797
LGA       1197
MCO        334
OGG         29
ORD       1379
PDX        342
PSP        211
SAN       1742
SEA       2128
SFO      15943
Name: FLIGHT_NUMBER, dtype: int64

In [219]:
for i in l12:
    df12_1 = ftdata[ftdata['AIRLINE'] == i]
    df12_3 = df12_1.groupby('DESTINATION_AIRPORT').mean()['CANCELLED']
    print(i, df12_3.nlargest(1))

AS DESTINATION_AIRPORT
15991    0.25
Name: CANCELLED, dtype: float64
AA DESTINATION_AIRPORT
10423    0.428571
Name: CANCELLED, dtype: float64
US DESTINATION_AIRPORT
LGA    0.083476
Name: CANCELLED, dtype: float64
DL DESTINATION_AIRPORT
10868    0.02381
Name: CANCELLED, dtype: float64
NK DESTINATION_AIRPORT
13796    0.1
Name: CANCELLED, dtype: float64
UA DESTINATION_AIRPORT
10423    0.227273
Name: CANCELLED, dtype: float64
HA DESTINATION_AIRPORT
SFO    0.007485
Name: CANCELLED, dtype: float64
B6 DESTINATION_AIRPORT
10423    0.833333
Name: CANCELLED, dtype: float64
OO DESTINATION_AIRPORT
10423    0.785714
Name: CANCELLED, dtype: float64
EV DESTINATION_AIRPORT
13158    0.5
Name: CANCELLED, dtype: float64
MQ DESTINATION_AIRPORT
12915    0.4
Name: CANCELLED, dtype: float64
F9 DESTINATION_AIRPORT
10423    0.428571
Name: CANCELLED, dtype: float64
WN DESTINATION_AIRPORT
10423    0.333333
Name: CANCELLED, dtype: float64
VX DESTINATION_AIRPORT
10423    0.333333
Name: CANCELLED, dtype: float64